*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202A45;
    }
img{
    max-width: 450px;
    max-height: 200px;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@font-face {
    font-family: space;
    src: url(../font/SpaceMission-rgyw9.otf);
}
@font-face {
    font-family: gaming;
    src: url(../font/PhoenixGaming-nRJj0.ttf);
}
@font-face {
    font-family: gamingTitle2;
    src: url(../font/AtariClassic-gry3.ttf);
}
.link{
    text-decoration: none;
}
.list{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}
